body
{
  margin: auto;
  max-width: 60rem;
  background : url("images/fondBeige.jpg"); /*pour mettre le fond d'écran*/
  margin-left : 1em;
  margin-right : 1em;
}

header h1 
{
	display : inline; /*pour afficher l'image et le texte à côté*/
	position : relative; /*pour pouvoir déplacer le texte avec left-bottom*/
	bottom : 2em;
	left : 0.5em;
}

header li
{
	display : inline;
	padding-top : 0.5em;
	padding-right : 0.2em;
	padding-left : 0.2em;
	padding-bottom : 0.52em;
	border: 4px green solid;
	border-top-left-radius : 10px;
	border-top-right-radius : 10px;
}

header li a
{
	color : black;
	text-decoration : none;
}

header ul
{
	text-align : center;
	border-bottom : 4px green solid;
	padding-bottom : 0.5em;
}

#corps h1
{
	text-transform : uppercase;
}

article
{
	display : inline;
	text-align : justify;
	width : 60%;
	margin-left : 1em;
}

aside
{
	vertical-align : top;
	float : right;
	width : 33%;
	text-align : justify;
	display : inline;
	margin-left : 2%;
	margin-right : 1em;
	background-color : LightGreen;
	border-radius : 10px;
	margin-top : 75px;
}

#logos_distrib
{
	text-align : center;
	background-color : white;
	border-radius : 10px;
	margin-left : 0.5em;
	margin-right : 0.5em;
}

footer li
{
	display : inline;
	padding-left : 1em;
	padding-right : 1em;
}

footer li:nth-child(2)
{
	border-left : 1px black solid;
	border-right : 1px black solid;
}

footer ul
{
	text-align : center;
	border-top : 4px green solid;
	padding-top : 0.5em;
}
