<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PetiteServlette</servlet-name>
        <servlet-class>controleur.PetiteServlette</servlet-class>
        <init-param>
            <param-name>bdd</param-name>
            <param-value>maBase</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>controleur.ActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetiteServlette</servlet-name>
        <url-pattern>/PetiteServlette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>test.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
    </jsp-config>
</web-app>
